<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript" src="http://localhost:8080/js/autobahn.min.js"></script>
</head>
<body>

	hellor world. Visits: <span id="visits">{{visits}}</span>
</body>
<script type="text/javascript">
	

	var connection = new autobahn.Connection({url: 'ws://localhost:8080/ws', realm: 'realm1'});

	connection.onopen = function (session) {

		function onevent(args) {

			element = document.getElementById('visits');
			console.log(element);
			element.textContent  = args[0];

	   	   
	     console.log("hello");
	     console.log(args);
	   	}
	   	session.subscribe('com.example.onvisit', onevent);

	};

	connection.open();

</script>
</html>